.card {
  display: flex;
  flex-direction: column;

  width: 339px;
  height: 234px;
  padding: 15px, 25px, 15px, 25px;

  cursor: pointer;
  transition: 1s;

  border-radius: 25px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.15);

  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.card:hover {
  background-color: white;
}

.card_active {
  transition: 2s;

  box-shadow: 0 0 48px -3px #ff2f54;
}

.card__title {
  font-family: "Inter";
  font-size: 32px;
  font-weight: 400;
  line-height: 38.73px;

  overflow: hidden;

  width: 289px;
  height: 39px;
  margin-bottom: 15px;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__text {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;

  width: 289px;
  height: 150px;
}
